.parent{
    height: 300 px;
    width: 200px;
    background-color: purple;
    color: white;
}
.row{
    width: 70%;
    height: 500px;
    background-color: aqua;
    border: 1px solid black;

}
.col{
    width: 50%;
    height: 150px;
    background-color: rgb(3, 85, 79);
    
}
.col-1{
    width: 50vw;
    height: 100px;
    background-color: rgb(29, 75, 75);
}